web/WEB-INF/wsdl/localhost_8080/stocManagementWS/stocManagementWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="createProduct" type="tns:createProduct"/>

<xs:element name="createProductResponse" type="tns:createProductResponse"/>

<xs:element name="getEmployee" type="tns:getEmployee"/>

<xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse"/>

<xs:element name="getProducts" type="tns:getProducts"/>

<xs:element name="getProductsResponse" type="tns:getProductsResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="updateEmployee" type="tns:updateEmployee"/>

<xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>

<xs:element name="updateProduct" type="tns:updateProduct"/>

<xs:element name="updateProductResponse" type="tns:updateProductResponse"/>

<xs:complexType name="updateEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element name="bo_color" type="xs:int"/>
<xs:element name="bo_show_screencast" type="xs:boolean"/>
<xs:element name="bo_theme" type="xs:int"/>
<xs:element name="bo_width" type="xs:int"/>
<xs:element name="default_tab" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_lang" type="xs:int"/>
<xs:element name="id_profile" type="xs:string" minOccurs="0"/>
<xs:element name="last_passwd_gen" type="xs:dateTime" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="passwd" type="xs:string" minOccurs="0"/>
<xs:element name="stats_date_from" type="xs:dateTime" minOccurs="0"/>
<xs:element name="stats_date_to" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element name="available_for_order" type="xs:boolean"/>
<xs:element name="condition" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="description_short" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_category_default" type="xs:int"/>
<xs:element name="id_default_image" type="xs:int"/>
<xs:element name="id_manufacturer" type="xs:int"/>
<xs:element name="id_shop_default" type="xs:int"/>
<xs:element name="indexed" type="xs:boolean"/>
<xs:element name="link_rewrite" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer_name" type="xs:string" minOccurs="0"/>
<xs:element name="meta_title" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="show_price" type="xs:boolean"/>
<xs:element name="stockFurnizor" type="xs:int"/>
<xs:element name="weight" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProduct">
<xs:sequence>
<xs:element name="product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployee">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>