web/WEB-INF/wsdl/localhost_8080/stocManagementWS/stocManagementWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="stocManagementWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/stocManagementWS/stocManagementWS?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getEmployee">
<part name="parameters" element="tns:getEmployee"/>
</message>
<message name="getEmployeeResponse">
<part name="parameters" element="tns:getEmployeeResponse"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="createProduct">
<part name="parameters" element="tns:createProduct"/>
</message>
<message name="createProductResponse">
<part name="parameters" element="tns:createProductResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<portType name="stocManagementWS">
<operation name="login">
<input wsam:Action="http://ws/stocManagementWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/stocManagementWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getEmployee">
<input wsam:Action="http://ws/stocManagementWS/getEmployeeRequest" message="tns:getEmployee"/>
<output wsam:Action="http://ws/stocManagementWS/getEmployeeResponse" message="tns:getEmployeeResponse"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://ws/stocManagementWS/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://ws/stocManagementWS/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
</operation>
<operation name="createProduct">
<input wsam:Action="http://ws/stocManagementWS/createProductRequest" message="tns:createProduct"/>
<output wsam:Action="http://ws/stocManagementWS/createProductResponse" message="tns:createProductResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://ws/stocManagementWS/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://ws/stocManagementWS/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://ws/stocManagementWS/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://ws/stocManagementWS/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
</portType>
<binding name="stocManagementWSPortBinding" type="tns:stocManagementWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="stocManagementWS">
<port name="stocManagementWSPort" binding="tns:stocManagementWSPortBinding">
<soap:address location="http://localhost:8080/stocManagementWS/stocManagementWS"/>
</port>
</service>
</definitions>